@model ICollection<ProjectManagement.Models.Board>

@{
    ViewData["Title"] = string.Format("{0} - Board List",@Model.First().Project.Name);
}
<div class="container">
    <div class="row">
        @foreach (var item in Model.OrderByDescending(e => e.UpdatedDate)) //
        {
            <div class="col-sm">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text lead">@item.Project.Name</p>
                        <p>@item.BoardDescription</p>
                        <p class="lead text-info">Updated Date: @item.UpdatedDate</p>
                        <p class="lead text-info">Created Date: @item.CreatedDate</p>
                        <div class="row">
                            <a asp-controller="Lists" asp-action="Index" asp-route-id="@item.BoardId" class="btn btn-primary btn-block">View Boards</a>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a asp-action="Edit" asp-route-id="@item.BoardId" class="btn btn-secondary ">Edit Board</a>

                                <a asp-action="Details" asp-route-id="@item.BoardId" class="btn btn-info">Details</a>

                                <a asp-action="Delete" asp-route-id="@item.BoardId" class="btn btn-danger">Delete Board</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        }
        </div>
   
</div>