@model ProjectManagement.Models.ViewModels.BoardsProjectMember

@{
    ViewData["Title"] = string.Format("{0} - Board List", Model.Boards.First().Project.Name);
}

<div class="text-center">
    <h1 class="display-4 ">@Model.ProjectMember.Project.Name Boards</h1>
    @if (Model.ProjectMember.MemberId == Model.ProjectMember.Project.ManagerId)  // Show Edit and Delete Button to Project's Managers
    {
        <a asp-action="Create" class="btn btn-primary">Create a New Board</a>
    }
</div>


<br />

<div class="row">
    @foreach (var item in Model.Boards.OrderByDescending(e => e.UpdatedDate)) //
    {
        <div class="col-lg-6 mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">Last Updated Date: @item.UpdatedDate </p>
                    <div class="row">
                        <a asp-action="Dashboard" asp-route-id="@item.BoardId" class="btn btn-primary ">View Board</a>
                    </div>
                    <div class="row">
                        <a asp-action="Details" asp-route-id="@item.BoardId" class="btn btn-info my-1">Details</a>
                    </div>

                    @if (Model.ProjectMember.MemberId == item.Project.ManagerId)  // Show Edit and Delete Button to Project's Managers
                    {
                        <div class="row">
                            <div class="col">
                                <a asp-action="Edit" asp-route-id="@item.BoardId" class="btn btn-success m-2 ">Edit Board</a>
                                <a asp-action="Delete" asp-route-id="@item.BoardId" class="btn btn-danger">Delete Board</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</div>