@model ProjectManagement.Models.ViewModels.ProjectProjectMembers

@{
    ViewData["Title"] = "Delete";
   
}

<div class="text-center">
    <h1 class="display-4 ">Delete Project</h1>
</div>
<h2>Are you sure you want to delete this Project?</h2>
<h6>
    If you click "Delete" button, the following people won't have the right to see the project and boards in the project.
</h6>
<hr />
<div>
    <h3 class="text-center">Users table on @Model.Project.Name</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @{ int counter = 1;
                foreach (ProjectMember pm in Model.ProjectMembers)
                {
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@pm.Member.Username</td>
                        <td>@pm.Member.Name</td>
                        @* <td>@pm.Member.Works.Count</td>*@
                    </tr>
                    counter += 1;
                }
            }
        </tbody>
    </table>
    <h5>When you delete the project you can revive it anytime.</h5>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Project.ProjectId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}