@model ProjectManagement.Models.ViewModels.ProjectProjectMembers

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutProjects";
}

<div class="text-center">
    <h1 class="display-4 ">Edit Project</h1>
</div>
<hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Project.ProjectId" />
                <div class="form-group">
                    <label asp-for="Project.Name" class="control-label">Project Name</label>
                    <input asp-for="Project.Name" class="form-control" />
                    <span asp-validation-for="Project.Name" class="text-danger"></span>
                </div>

                @* TODO: Edit design *@
                <div>
                    @Html.EditorFor(x => x.Project.IsCancelled)
                    <label asp-for="Project.IsCancelled">Cancelled</label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Project Users <b>Details</b></h2></div>
                        <form asp-action="AddMemberProject">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Project.ProjectId" />
                            <div class="form-group">
                                <label asp-for="ProjectMembers.FirstOrDefault().Member.Username" class="control-label">Username</label>
                                <input asp-for="ProjectMembers.FirstOrDefault().Member.Username" class="form-control" />
                                <span asp-validation-for="ProjectMembers.FirstOrDefault().Member.Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="submit" value="Add New Member" class="btn btn-info add-new">
                                </div>
                            </div> 
                        </form>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ProjectMember pm in Model.ProjectMembers)
                        {
                        <tr>
                            <td>@pm.Member.Name</td>
                            <td>@pm.Member.Username</td>
                            <td>
                                <form asp-action="DeleteMember">
                                    <input type="hidden" asp-for="@pm.ProjectId" />
                                    <input type="hidden" asp-for="@pm.MemberId" />
                                    <div class="form-group">
                                        <input type="submit" value="Delete member from Project" class="btn btn-danger" />
                                    </div>
                                </form>
                            </td>               
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

   
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
