@model ProjectManagement.Models.ViewModels.ProjectProjectMembers

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutProjects";
}

<div class="text-center">
    <h1 class="display-4 ">Edit Project</h1>
</div>
<hr />

<div class="col-sm-8"><h2>Project Details</h2></div>

<form class="row g-3" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Project.ProjectId" />

    <label asp-for="Project.Name" class="col-sm-2 col-form-label">Project Name</label>

    <div class="col-3">
        <input asp-for="Project.Name" class="form-control" />
        <span asp-validation-for="Project.Name" class="text-danger"></span>
    </div>


    <div class="col-auto">
        @Html.EditorFor(x => x.Project.IsCancelled)
        <label asp-for="Project.IsCancelled" class="col-sm-2 col-form-label">Cancelled</label>
    </div>

    <div class="col-auto">
        <input type="submit" value="Save Project" class="btn btn-primary" />
    </div>
</form>


<div class="col-sm-8 mt-5"><h2>Project Users <b>Details</b></h2></div>

<div class="mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProjectMember pm in Model.ProjectMembers)
            {
                <tr>
                    <td>@pm.Member.Name</td>
                    <td>@pm.Member.Username</td>
                    <td>
                        <form asp-action="DeleteMember">
                            <input type="hidden" asp-for="@pm.ProjectId" />
                            <input type="hidden" asp-for="@pm.MemberId" />
                            <div class="form-group">
                                <input type="submit" value="Delete member from Project" class="btn btn-danger" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="col-sm-8 mt-5"><h3>Add new user to project</h3></div>
<form class="row g-3" asp-action="AddMemberProject">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Project.ProjectId" />
    <label asp-for="ProjectMembers.FirstOrDefault().Member.Username" class="col-sm-2 col-form-label">Username</label>

    <div class="col-auto">
        <input asp-for="ProjectMembers.FirstOrDefault().Member.Username" class="form-control" />
        <span asp-validation-for="ProjectMembers.FirstOrDefault().Member.Username" class="text-danger"></span>
    </div>

    <div class="col-auto">
        <input type="submit" value="Add New Member" class="btn btn-info add-new">
    </div>
</form>

<div>
    <a class="btn btn-secondary mt-5" asp-action="Index">Back to Index</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
