@model ProjectsListViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4 ">@User.Identity.Name's Projects</h1>
    <a asp-action="Create" class="btn btn-primary m-2">Create a New Project</a>
</div>

<br />
<div class="container">
    <div class="form-group row">
        <h5 class="title">Search</h5>     
        <form asp-action="Index" method="get">
            <label for="name" class="control-label">Project Name</label>
            <div class="w-25">
                <input name="name" type="search" class="form-control " value="@Model.NameSearched" />
            </div>
                <div class="mt-3">
                    <input type="submit" value="Search" class="btn btn-info" />
                    <a asp-action="Index" class="btn btn-secondary">Clear</a>
                </div>
        </form>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        @foreach (ProjectMember pm in Model.ProjectMember)
        {
            <div class="col-lg-6 mb-4">
                <div class="card" style="width: 18rem;">
                    @*<img class="card-img-top" src="https://via.placeholder.com/286x180" alt="Card image cap">*@
                    <div class="card-body">
                        <h5 class="card-title">@pm.Project.Name</h5>
                        <p class="card-text"><p class="fw-bold">Manager Name: @pm.Project.Manager.Name </p>
                        <p class="card-text"><p class="fw-bold">Last Updated Date: @pm.Project.UpdatedDate </p>
                        <div class="row">
                            <a asp-action="Board" asp-route-id="@pm.Project.ProjectId" class="btn btn-primary">View Boards</a>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a asp-action="Edit" asp-route-id="@pm.Project.ProjectId" class="btn btn-success m-2 ">Edit Project</a>

                                <a asp-action="Details" asp-route-id="@pm.Project.ProjectId" class="btn btn-info m-1 ">Details</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @if (pm.MemberId == pm.Project.ManagerId)
                                { // Show Delete Button to Project's Managers
                                    <a asp-action="Delete" asp-route-id="@pm.Project.ProjectId" class="btn btn-danger">Delete Project</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
