@model ProjectManagement.Models.ViewModels.ProjectProjectMembers

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutProjects";
}

<div class="text-center">
    <h1 class="display-4 ">Revive Project</h1>
</div>
<h2>Are you sure you want to revive this Project?</h2>
<h6>
    If you click "Revive" button, the following people will have the right to see the project and boards in the project again.
</h6>

<div>
    <h3 class="text-center">Users table on @Model.Project.Name</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @{ int counter = 1;
                foreach (ProjectMember pm in Model.ProjectMembers)
                {
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@pm.Member.Username</td>
                        <td>@pm.Member.Name</td>
                        @* <td>@pm.Member.Works.Count</td>*@
                    </tr>
                    counter += 1;
                }
            }
        </tbody>
    </table>
    <h5>Let you know, when you revive the project you can delete it anytime.</h5>
    <form asp-action="Revive">
        <input type="hidden" asp-for="Project.ProjectId" />
        <input type="submit" value="Revive" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>
</div>
